In [1]:
%run "0.0-vestor-download_data.ipynb"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1651k  100 1651k    0     0  1554k      0  0:00:01  0:00:01 --:--:-- 1555k

# 0.1 Process data

### Read data

In [2]:
input_covid_file = path.data_raw_dir("time_series_covid19_confirmed_global.csv")

In [3]:
covid_df = pd.read_csv(input_covid_file)
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Columns: 1079 entries, Province/State to 12/31/22
dtypes: float64(2), int64(1075), object(2)
memory usage: 2.4+ MB

In [4]:
covid_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/22/22,12/23/22,12/24/22,12/25/22,12/26/22,12/27/22,12/28/22,12/29/22,12/30/22,12/31/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,207239,207262,207310,207399,207438,207460,207493,207511,207550,207559
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,333708,333731,333749,333749,333751,333751,333776,333776,333806,333806
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,271190,271193,271194,271198,271198,271202,271208,271217,271223,271228
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,47686,47686,47686,47686,47686,47686,47751,47751,47751,47751
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,104973,104973,104973,104973,104973,105095,105095,105095,105095,105095

### Process data

In [5]:
processed_df = (
    covid_df
    .select_columns(["Country/Region", "*/*/*"])
    .pivot_longer(
        index="Country/Region",
        names_to="date"
    )
    .transform_column("date", pd.to_datetime)
    .clean_names()
)

processed_df.head()

  country_region       date  value
0    Afghanistan 2020-01-22      0
1        Albania 2020-01-22      0
2        Algeria 2020-01-22      0
3        Andorra 2020-01-22      0
4         Angola 2020-01-22      0

In [6]:
output_covid_file = path.data_processed_dir("time_series_covid19_confirmed_global_processed.csv")

In [7]:
processed_df.to_csv(output_covid_file, index=False)